*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
:root{
    --color-white: #ffffff;
    --color-primary: #754ef9;
    --color-dark: #333333;
    --color-white-bg: #fdfdfd;
    --box-shadow: rgba(0,0,0,0.3);
    --transition: .4s ease;
}
body{
    background: var(--color-white-bg);
    color: var(--color-dark);
}
img{
    display: block;
    width: 100;
}
.btn{
    display: inline-block;
    width: fit-content;
    padding: 1.2rem 2.8rem;
    background: var(--color-primary);
    color: var(--color-white);
    border-radius: .4rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
    font-size: 17px;
    font-weight: 500;
    letter-spacing: .7px;
    border: 2px solid transparent;
    transition: var(--transition);
    cursor: pointer;
}
.btn :hover{
    background: transparent;
    border-color: var(--color-primary);
    color: var(--color-primary);
}
.container{
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
}

/* start Navbar */
nav{
    position: fixed;
    width: 100%;
    height: 5rem;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    z-index: 10
}
.nav-container{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;

}
.nav-container .logo h3{
    font-size: 1.6rem;
    color: var(--color-primary);
    font-weight: 600;
    cursor: default;
}
.nav-link{
    display: flex;
    align-items: center;
    gap: 3.5rem;
}

.nav-link li a{
    font-size: 16px;
    color: var(--color-primary);
    font-weight: 500;
    position: relative;
}
.nav-link li .active::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .1rem;
    background: var(--color-primary);
}
.moon{
    
    color: var(--color-primary);
}
.mood-icon{
    font-size: 1.4rem;
    transition: var(--transition);
}
.mood-icon:hover{
    transform: rotate(360deg);
}
.sun{
    display: none;
}
/* End Navbar */

/* Start Header Section */
header{
    display: flex;
    align-items: center;
    min-height: 100vh;
    position: relative;
}
.header-container{
    display: grid;
    grid-template-columns: 40% 60%;
}

.header-container h3{
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 110%;
}
.header-container h1{
    font-size: 4.6rem;
    font-weight: 700;
}
.header-container p{
    font-size: 16px;
}
.social-link{
display: flex;
align-items: center;
gap: 2.4rem;
margin: 2rem 0;
}
.social-link a{
    padding: .3rem .6rem ;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    font-size: 17px;
    cursor: pointer;
    transition: var(--transition);
    border-radius: 50%;
}
/* End Header Section */