*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
:root{
    --color-white: #ffffff;
    --color-primary: #754ef9;
    --color-dark: #333333;
    --color-white-bg: #fdfdfd;
    --box-shadow: rgba(0,0,0,0.3);
    --transition: .4s ease;
}
.dark-mood{
    --color-white-bg: #0b060f;
    --color-dark: #fdfdfd;
}
body{
    background: var(--color-white-bg);
    color: var(--color-dark);
}
img{
    display: block;
    width: 100;
}
.btn{
    display: inline-block;
    width: fit-content;
    padding: 1.2rem 2.8rem;
    background: var(--color-primary);
    color: var(--color-white);
    border-radius: .4rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
    font-size: 17px;
    font-weight: 500;
    letter-spacing: .7px;
    border: 2px solid transparent;
    transition: var(--transition);
    cursor: pointer;
}
.btn:hover{
    background: transparent;
    border-color: var(--color-primary);
    color: var(--color-primary);
}
.container{
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
}

/* start Navbar */
nav{
    position: fixed;
    width: 100%;
    height: 5rem;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    z-index: 10
}

.phone-menu{
    display: none;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;

}
.phone-menu{
    display: none;
}
.nav-scroll{
    background: var(--color-primary);
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.3);
}
.nav-scroll .logo h3{
    color: var(--color-white) !important;
}
.nav-container .logo h3{
    font-size: 1.6rem;
    color: var(--color-primary);
    font-weight: 600;
    cursor: default;
}
.nav-link{
    display: flex;
    align-items: center;
    gap: 3.5rem;
}

.nav-link li a{
    font-size: 16px;
    color: var(--color-white);
    font-weight: 500;
    position: relative;
}
.nav-link li .active::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .1rem;
    background: var(--color-white);
}
/* .moon{
    color: var(--color-);
} */
.mood-icon{
    font-size: 1.4rem;
    transition: var(--transition);
    color: var(--color-white);
}
.mood-icon:hover{
    transform: rotate(360deg);
}
.sun{
    display: none;
}
button{
    background: transparent;
}
/* End Navbar */

/* Start Header Section */
#Home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    position: relative;
}
.header-container{
    display: grid;
    grid-template-columns: 40% 60%;
}
.header-left{
    margin-top: 5rem;
    position: relative;
    z-index: 1;
}
.header-container h3{
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 110%;
}
.header-container h1{
    font-size: 4.6rem;
    font-weight: 700;
  
}
.header-container p{
    font-size: 17px;
}
.social-link{
display: flex;
align-items: center;
gap: 2.4rem;
margin: 2rem 0;
}
.social-link a{
    padding: .4rem .7rem ;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    font-size: 17px;
    cursor: pointer;
    transition: var(--transition);
    border-radius: 50%;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
}
.social-link a:hover{
    background: var(--color-primary);
    color: var(--color-white);
}
.professing-conten{
    position: absolute;
    width: 768px;
    height: 100%;
    transform: translateY(-50%);
    top: 50%;
    right: 0%;
    pointer-events: none;
    overflow: hidden;
}
.profession-box{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius:50% ;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: circleAnimation 10s ease-out infinite;
}

@keyframes circleAnimation {
    0%, 20%{
        transform: rotate(0deg);
    }
    25%, 45%{
        transform: rotate(-90deg);
    }
    50%, 70%{
        transform: rotate(-180deg);
    }
    75%, 95%{
        transform: rotate(-270deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

.profession{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-primary);
    transform: rotate(calc(360deg/ 4 * var(--r))) !important;
    transform-origin: 400px;
    left: 0;
    gap: .6rem;
    background: var(--color-white-bg);
    padding: 30px;
}
.profession:nth-child(1) i{
    margin-right: 40px;
}
.profession:nth-child(4) i{
    margin-right: 24px;
}
.profession:nth-child(2) i{
    margin-left: 30px;
}
.profession i{
    font-size: 2rem;    
}
.profession h3{
    font-size: 2rem;
    line-height: 120%;
    font-weight:500 ;
}
.circle{
    width: 550px;
    height: 550px;
    border-radius: 50%;
    border: 3px solid var(--color-primary);
}
.ovrelay{
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 50vh solid var(--color-primary);
    border-bottom: 50vh solid var(--color-primary);
    border-left: 384px solid transparent;
    border-right: 384px solid var(--color-primary);
}
.header-img img{
    position: absolute;
    top: 0rem;
    bottom: 0;
    right: 0rem;
    width: 28rem;
    height: 100%;
    width: 35rem;
}
.header-img{
    justify-content: right;
}
/* End Header Section */

/* Start of about section */

#About{
    padding-top: 150px;
}
.about-container{
    display: grid;
    grid-template-columns: 36% 56% ;
    gap: 8%;
    align-items: center;
}

.about-img-bg{
    background: var(--color-primary);
    width: 26rem;
    height: 26rem;
    position: relative;
    border-radius: .4rem;
}
.about-left{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    
}
.about-img{
    position: absolute;
    top: 0;
    width: 26rem;
    height: 26rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    background: var(--color-dark);
    transform: rotate(10deg);
    border-radius: .4rem;
    transition: var(--transition);
}
.about-img img{
    object-fit: cover;
}
.about-left:hover .about-img{
    transform: rotate(0deg);
}
.about-container h2{
    color: var(--color-primary);
    font-size: 3.5rem;

}
.about-container h3{
    margin: .5rem 0;
    font-size: 1.2rem;
}
.about-container p{
    margin-bottom: .5rem;
    font-size: 17px;
}
.about-container .btn{
    margin-top: 2rem;
}


/* End of about section */


/* Start Services Section */

#Service{
    padding-top: 180px;
}

.container>h2{
    color: var(--color-primary);
    font-size: 3.5rem;

}
.services-container h2{
    margin-bottom: 3rem;
    text-align: center;
}

.services-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.services-card{
    padding: 3rem 2rem 3rem;
    border-radius: .4rem;
    box-shadow: 0 .5rem .9rem rgba(0,0,0,0.3);
    border-top: .5rem solid var(--color-dark);
    transition: var(--transition);
}
.services-card:hover{
    box-shadow: 0 .1rem .4rem rgba(0,0,0,0.3);
    border-color: var(--color-primary);
}

.services-card i{
    font-size: 3.4rem;
    margin-bottom: 1rem;
}

.services-card h3{
    font-size: 1.2rem;
    margin-bottom: .5rem;
    color: var(--color-primary);
}

.services-card p{
    font-size: 16px;
    margin-bottom: 1rem;
}

/* End Services Section */

/* Start Portfolio Section */

#Portfolio{
    padding-top: 180px;
}

.portfolio-container h2{
    margin-bottom: 3rem;
    text-align: center;
}
.projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    align-items: center;
}
.project{
    position: relative;
    display: flex;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 1rem var(--box-shadow);
    height: 22rem;
    /* width: max-content; */
}
.project:hover .project-shadow{
    bottom: 0;
}
.project:hover img{
    transform: scale(1.2);
}
.project img{
    transition: var(--transition);
}
.project-shadow{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -100%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background: linear-gradient( rgba(0,0,0,0.1), var(--color-primary) );
    padding: 0 4rem;
    gap: .7rem;
    transition: var(--transition);
}
.project-shadow h4{
    font-size: 1.6rem;
    color: var(--color-white);
}
.project-shadow p{
    color: var(--color-white);
    font-size: 18px;
}
.project-shadow a i{
    font-size: 1.4rem;
    color: var(--color-white);

}
/* End Portfolio Section */

/* Start Contact Section */

#Contact{
    padding-top: 160px;    
}
.contact-container{
    width: 70%;    
}
.contact-container h2{
    margin-bottom: 3rem;
    text-align: center;
}
form{
    width: 100%; 
    display: flex;
    flex-direction: column;
}
.input-group{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 2rem;   
}
input,textarea{
    width: 100% ;
    box-shadow: 0 .1rem .1rem var(--box-shadow);
    padding: 1rem;
    font-size: 16px;
    resize: none;
    transition: var(--transition);
    background: transparent;
    color: var(--color-dark);
}
input:focus,textarea:focus{
    box-shadow: 0 .2rem .1rem var(--color-primary);   
}
form button{    
    margin: 2rem auto;
}

/* End Contact Section */

/* Start footer Section */

footer{
    padding: 1rem 0;
    margin-top: 5rem;
    background: var(--color-primary);  
}
.footer-container{
    display: flex;   
    justify-content: space-between;
    align-items: center;
    color: var(--color-white);
}
.footer-container .btn{
    background: var(--color-white);
    color: var(--color-primary);
    padding: .7rem 1.6rem;
}

/* End footer Section */

/* .....................Start Media Scrin................... */
/* Max-widht:1300px */
@media (max-width:1300px) {
    /*......... Nav......... */
    nav{
        background: var(--color-primary);       
    }
    .nav-container .logo h3{
        color: var(--color-white);
    }
    /*.........Header......... */
    .ovrelay{
        right: -10rem;
    }
    .profession-box{
        right: -12rem;
    }
    .header-img img{
        right: 0;
    }
    .header-container h1,
    .header-container p{
        width: max-content;
    }
}

/* Max-widht:1100px */
@media (max-width:1100px) {
 
   html{
    font-size: 90%;
   }
    /*.........Header......... */ 
    .ovrelay{
        right: -15rem;
    }
    .profession-box{
        right: -22rem;
    }
}
/* Max-widht:991px */
@media (max-width:991px) {
 
    html{
     font-size: 100%;
    }

    /*.........Nav......... */ 
    nav{
        background: transparent; 
        width: 100vw;    

    }
    .nav-container .logo h3{
        color: var(--color-primary);
    }
    .nav-container{
        position: relative; 
        align-items: center;
         
    }
    .nav-link{
        flex-direction: column;
        gap: 0;
        position: fixed;
        left: 0;
        top: 5rem; 
        width: 18rem; 
        overflow: hidden;  
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.9);  
        display: none; 
        margin: 0 auto;         

    }
    .nav-link li{
        width: 100%;
        height: 100%;
    }
    .nav-link li button{
        background: var(--color-dark);
        width: 100%;     
        padding: 1rem;
    }
    .dark-mood .nav-link li button{
        background: var(--color-white-bg);
    }
    .dark-mood .nav-link li a{
        background: var(--color-white-bg);
    }
    .nav-link li button:hover{
        transform: rotate(0);
    }
    .nav-link li a{
        display: inline-block;
        padding: 2rem 8rem;
        background: var(--color-dark);            
    }
    .phone-menu{
        display: inline-block;
        font-size: 1.4rem;
        color: var(--color-white);           
    }
    .close{
        display: none;
    }
     /*.........Header......... */ 
     .ovrelay{
         right: -24rem;
     }
     .profession-box{
         right: -30rem;
     }
     .header-img{
        display: none;
     }  
    /*.........About......... */ 
    .about-container{
        grid-template-columns: 1fr;
    }
    /*.........Services......... */ 
    .services-cards{
        grid-template-columns: repeat(2,1fr);
    }
    /*.........Portfolio......... */ 
    .projects{
        grid-template-columns: repeat(2,1fr);
    }
    /*.........Portfolio......... */
    .testimonial-box{
        width: 60%;
    } 
    .testmonial-slide{
        padding: 1rem 4rem;
        border-radius: 10rem;
    }
 }
 /* Max-widht:800px */
@media (max-width:800px) { 

     /*.........Nav......... */ 
    .phone-menu{    
        color: var(--color-primary);
    }
    .nav-scroll button{
        color: var(--color-white);
    }
    /*.........Header......... */ 

    .header-container{
        grid-template-columns: 1fr;        
    }
    .header-left {
        margin-top: 0;
        text-align: center;
    }
    .header-container h1,
    .header-container p{
        width: fit-content;
        margin: 0 auto;
    }
    .header-left .btn{
        margin-bottom: 10rem;
    }
    .social-link{
        justify-content: center;        
    }
    .professing-content{
        width: 100vw;
        height: 100%;        
    }
    .professing-content{
        overflow: hidden;
    }
    .profession-box{
        position: fixed;
        left: 0;
        top: 60%;
        width: 100%;
        border-radius: 0;
    }
    .profession{
        padding: 0 12px ;    
        transform-origin:0 ;    
        left: auto;   
    }
    .profession:nth-child(1){
        transform: rotate(-90deg) translate(-120px, -210px) !important;
    }
    .profession:nth-child(2){
        transform: rotate(0deg) translate(0, -335px) !important;
    }
    .profession:nth-child(3){
        transform: rotate(90deg) translate(-115px, -450px) !important;
    }
    .profession:nth-child(4){
        transform: rotate(-180deg) translate(-220px, -335px) !important;
    }
    .profession:nth-child(1) i{
        margin-right: 0 !important;
    }
    
    .profession:nth-child(2) i{
        margin-left: 0 !important;    
    }
    
    .circle{
        position: fixed;
        z-index: -1;      
        height: 670px;
        width: 670px;
    }
    .ovrelay{
        transform: rotate(90deg) translate(-50%, 50%);     
        left: 50%;
        right: 0;  
        border-width: 30rem;
        position: fixed;
        top: 100%;         
    }
    
}
 /* Max-widht:600px */
 @media (max-width:600px) { 
    h1{
        font-size: 3.2rem !important;
        margin: 1rem auto !important;
    }
    h2{
        font-size: 2.4rem !important;
    }
    h3{
        font-size: 1.7rem !important;
    }
    h4{
        font-size: 1.1rem !important;
    }
    p{
        font-size: 17px !important;
    }

    /* .........nav......... */
    nav{
        background: var(--color-primary);
    }
    .nav-container button{
        color: var(--color-white);
    }
    .nav-container .logo h3{
        color: var(--color-white);
    }
    /* .........header......... */
    .social-link{
        gap: 1rem;
    }
    /* .........About......... */
    .about-left{
       margin: 0 auto;
    }
    .about-img-bg{
        width: 18rem;
        height: 18rem;
    }
    .about-img{
        width: 18rem;
        height: 18rem;
    }
    .about-right{
        text-align: center;
    }
    .about-container h3{
        font-size: 1.3rem !important;
    }
    /* .........Servics......... */
    .services-cards{
        grid-template-columns: 1fr;
        gap: 20px;
    }
     /* .........Servics......... */
     .projects{
        grid-template-columns: 1fr;
        gap: 20px;
     }
    /* .........Servics......... */
    .testimonial-box{
        width: 50%;     
    }
    .testmonial-slide{
        border-radius: 5rem;
        padding: 1.4rem;   
    }
    .testmonial-slide .avatar{
        height: 7rem;
        width: 7rem;
    }
    /* .........Contact......... */
    .input-group{
        grid-template-columns: 1fr;       
    }
    .contact-container{
        width: 90%;
    }
 }
/* .....................End Media Scrin................... */